@page
@model LockoutModel
@{
    ViewData["Title"] = "Hesap kilitlendi";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu hesap kilitlenmiştir, lütfen daha sonra tekrar deneyiniz.</p>
</header>
